html, body {
	font-size: 100%; 
	height: 100%; 
	position: relative; 
	top: 30%;
}

div.jumbotron {
	font-size: 0;
	top: 0;
	left: 0;
	margin: 0;
	position: fixed;
	z-index: 15;
	width: 100%;
	box-sizing: border-box;
	background-image: url("../Images/Alaunkristall03.JPG");
	background-size: cover;
	background-position: center;
	text-align: center;
}